<template>
  <div>
    <h2 v-if="edit" :style="{padding: '10px'}">Vorschau:</h2>

    <div v-if="pointer" :style="{padding: '10px', width: '100%', background: getBackgroundColor, textAlign: getTextAlign, fontWeight: 'bold', color: getColor}">

      <p v-for="counter in pointer.counter" :key="counter.id" v-if="pointer.style" :style="{'font-size': counter.fontSize+'px'}">{{ getPointsText(counter) }}</p>
      <p v-if="pointer.timer.visible" :style="{ 'font-size': pointer.style.fontSize+'px', color: getColor}">{{ currentTime }}</p>

      <div v-html="compiledMarkdown"></div>
    </div>

    <div v-if="edit && pointer" style="padding: 25px">
    <v-divider></v-divider>
    <v-row style="padding-bottom: 20px">
    <v-col>
    <h2>Control Panel:</h2>
    </v-col><v-col style="text-align: right">
    <v-item-group>
    <v-btn small color="success" @click="addCounter">Neue Kategorie hinzufügen</v-btn>
          <v-btn small color="error" @click="reset">Reset</v-btn>
            <v-btn small color="secondary" :to="{query: {viewonly:true}}">Streamer View</v-btn>
            </v-item-group>
            </v-col>
    </v-row>
    <v-divider></v-divider>

    <div v-for="counter in pointer.counter" :key="counter.id">
    <v-row >
      <v-col>
      <h3>{{getPointsText(counter)}}</h3>
      <v-item-group style="padding-bottom: 4px">
        <v-btn small color="primary" @click="update(counter, counter.points + 1)">+1</v-btn>
        <v-btn small color="primary" @click="update(counter, counter.points + 2)">+2</v-btn>
        <v-btn small color="primary" @click="update(counter, counter.points + 3)">+3</v-btn>
        <v-btn small color="primary" @click="update(counter, counter.points + 4)">+4</v-btn>
        <v-btn small color="primary" @click="update(counter, counter.points + 5)">+5</v-btn>
        <v-btn small color="primary" @click="update(counter, counter.points + 6)">+6</v-btn>
        <v-btn small color="primary" @click="update(counter, counter.points + 7)">+7</v-btn>
        <v-btn small color="primary" @click="update(counter, counter.points + 8)">+8</v-btn>
        <v-btn small color="primary" @click="update(counter, counter.points + 9)">+9</v-btn>
        <v-btn small color="primary" @click="update(counter, counter.points + 10)">+10</v-btn>
      </v-item-group>
      <v-item-group>
        <v-btn small color="warning" @click="update(counter,counter.points  - 1)">-1</v-btn>
        <v-btn small color="warning" @click="update(counter,counter.points  - 2)">-2</v-btn>
        <v-btn small color="warning" @click="update(counter,counter.points  - 3)">-3</v-btn>
        <v-btn small color="warning" @click="update(counter,counter.points  - 4)">-4</v-btn>
        <v-btn small color="warning" @click="update(counter,counter.points  - 5)">-5</v-btn>
        <v-btn small color="warning" @click="update(counter,counter.points  - 6)">-6</v-btn>
        <v-btn small color="warning" @click="update(counter, counter.points - 7)">-7</v-btn>
        <v-btn small color="warning" @click="update(counter,counter.points  - 8)">-8</v-btn>
        <v-btn small color="warning" @click="update(counter, counter.points - 9)">-9</v-btn>
        <v-btn small color="warning" @click="update(counter, counter.points - 10)">-10</v-btn>
      </v-item-group>
      </v-col>
      <v-col>
      <v-item-group>
        <v-text-field label="Textformat" v-model="counter.textFormatPoints" @input="update()"/>
        <v-text-field label="Manuelle Punkteeingabe / Punktekorrektur" v-model="counter.points" @input="update(counter, parseInt($event))" type="number" />
      </v-item-group>
      
      </v-col>
      </v-col><v-col class="col-2">
      <v-item-group>
        <v-btn small color="error" @click="removeCounter(counter)">Kategorie entfernen</v-btn>
        <v-text-field label="Schriftgröße" v-model="counter.fontSize" type="number" @input="update()"/>
        </v-item-group>
      </v-col>
    </v-row>
    <v-divider></v-divider>
    </div>
    <v-row>
    <v-col>
    <v-item-group v-if="false">

      <textarea v-if="pointer" v-model="pointer.customText"></textarea>
      <v-btn @click="updateText">Text aktualisieren</v-btn>
    </v-item-group>
    </v-col>
    </v-row>
    <v-row>
    <v-col>
</v-col>
<v-row>
<v-col>


</v-col>
</v-row>
</v-row>
      <v-switch label="Timer anzeigen" v-model="getTimerVisible" />
      <v-btn color="success" @click="start">Zeit starten</v-btn>
      <v-btn color="error" @click="stop">Zeit zurücksetzen</v-btn>

    <h2 style="padding-top: 20px">Style:</h2>

    <v-item-group v-if="pointer">
      <v-switch label="Textausrichtung Rechts" v-model="getTextAlign" true-value="right" false-value="left" />
      <h3>Farben</h3>
      <v-row>
      <div>
        <v-subheader>Hintergrund:</v-subheader>
        <v-color-picker label="Background" style="padding: 5px"
          dot-size="25"
          swatches-max-height="200" mode="hexa"
          v-model="getBackgroundColor"
        ></v-color-picker>
      </div>
      <div>
        <v-subheader>Text:</v-subheader>
        <v-color-picker label="Color" style="padding: 5px"
          dot-size="25"
          swatches-max-height="200" mode="hexa"
          v-model="getColor"
        ></v-color-picker>
      </div>
      </v-row>
    </v-item-group>

    <h2>Neue Session:</h2>
<v-row>
<v-col>
        Erstelle deinen eigenen Link:
        <input v-model="newid" ></input> 
        <v-btn :to="{params: { id: newid}}">Öffnen</v-btn>

      <div><v-btn :to="{path: '/'}">Neuer Random Link</v-btn></div>
      </v-col>
  </v-row>
    </div>
  </div>
</template>

<script>
import { db } from '../../db'
import MarkdownIt from 'markdown-it'
import MarkdownItCheckBox from 'markdown-it-checkbox'
import MarkdownItFontAwesome from 'markdown-it-fontawesome'


var md = new MarkdownIt().use(MarkdownItCheckBox).use(MarkdownItFontAwesome);

const points = db.collection('points')

function throttle(func, wait, options) {
  var context, args, result;
  var timeout = null;
  var previous = 0;
  if (!options) options = {};
  var later = function() {
    previous = options.leading === false ? 0 : Date.now();
    timeout = null;
    result = func.apply(context, args);
    if (!timeout) context = args = null;
  };
  return function() {
    var now = Date.now();
    if (!previous && options.leading === false) previous = now;
    var remaining = wait - (now - previous);
    context = this;
    args = arguments;
    if (remaining <= 0 || remaining > wait) {
      if (timeout) {
        clearTimeout(timeout);
        timeout = null;
      }
      previous = now;
      result = func.apply(context, args);
      if (!timeout) context = args = null;
    } else if (!timeout && options.trailing !== false) {
      timeout = setTimeout(later, remaining);
    }
    return result;
  };
};

export default {
  name: 'Counter',
  data() {
    return {
      pointer: null,
      id: null,
      edit: true,
      newid: null,
      currentTime: 0,
      throttleUpdate: null,
      defaultCounter:             {
              points: 0,
              fontSize: 25,
              textFormatPoints: "Punkte: {points}"
            }
    }
  },
  computed: {
    intFontSize: {
      get() {
        return this.pointer.style.fontSize
      },
      set(newValue) {
        this.pointer.style.fontSize = parseInt(newValue)
        this.update()
      }
    },
    getBackgroundColor: {
      get() {
        return this.pointer.style.background
      },
      set(newValue) {
        if(newValue.hex) {
          this.pointer.style.background = newValue.hex
        } else {
          this.pointer.style.background = newValue
        }
        this.update()
      }
    },
    getColor: {
      get() {
        return this.pointer.style.color
      },
      set(newValue) {
        if(newValue.hex) {
          this.pointer.style.color = newValue.hex
        } else {
          this.pointer.style.color = newValue
        }
        this.update()
      }
    },
    getTextAlign: {
      get() {
        return this.pointer.style.textAlign
      },
      set(newValue) {
        this.pointer.style.textAlign = newValue

        this.update()
      }
    },
    getTimerVisible: {
      get() {
        if(this.pointer && this.pointer.timer)
          return this.pointer.timer.visible
        return false
      },
      set(newValue) {
        this.pointer.timer.visible = newValue

        this.update()
      }
    },
    compiledMarkdown: function() {
      if(this.pointer.customText)
        return md.render(this.pointer.customText);
      return null
    }
  },
  watch: {
    id: {
      // call it upon creation too
      immediate: true,
      handler(id) {
        this.bind(id)
      },
    },
    $route (to, from){
      if(!this.$route.params.id) {
        this.$router.push("/" + this.makeid(6))
      }
      this.id = this.$route.params.id
      this.newid = this.id
      this.edit = !this.$route.query.viewonly
    }
  },
  mounted(){
    if(!this.$route.params.id) {
      this.pointer = null
      this.$router.push("/" + this.makeid(6))
    }
    this.id = this.$route.params.id
    this.newid = this.id
    this.edit = !this.$route.query.viewonly

    var self = this
      setInterval(() => {
        var seconds = 0;
        if(self.pointer) {
          if(self.pointer.timer.startTime)
            seconds = (new Date() - new Date(self.pointer.timer.startTime)) / 1000;
        }
        self.currentTime = `${parseInt(seconds / 3600).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}:${parseInt(seconds / 60 % 60).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}:${parseInt(seconds % 60).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false}) }`
      }, 500)
  },
  methods: {
    getPointsText(counter) {
      if(counter.textFormatPoints) {
        return counter.textFormatPoints.replace("{points}", counter.points)
      }
      return counter.points
    },
    addCounter() {
      let newCounter = JSON.parse(JSON.stringify(this.defaultCounter))
      newCounter.id = this.makeid(8)
      this.pointer.counter.push(newCounter)

      this.update()
    },
    reset(){
      if(confirm("Sicher?")) {
        this.pointer.counter.forEach(c => {
          this.update(c, 0)
        })
      }
    },
    removeCounter(counter) {
      if (confirm("Sicher?")) {
        this.pointer.counter =  this.pointer.counter.filter(function(ele){ 
            return ele != counter; 
        });
        this.update()
      }
    },
    start () {
      this.pointer.timer.startTime = new Date().toISOString();
      this.update()
    },
    stop () {
      this.pointer.timer.startTime = null;
      this.update()
    },
    async bind(id){
      if(id) {
        let current = points.doc(id)
        if(!(await current.get()).exists) {
          this.update(0);
        }
        if(!this.pointer)
          this.$bind('pointer', points.doc(id))
      }
    },
    updateText(){
      this.update()
    },
    update(counter, points){
      if(!this.pointer) {
        let newCounter = JSON.parse(JSON.stringify(this.defaultCounter))
        newCounter.id = this.makeid(8)
        this.pointer = {
          counter: [
           newCounter
          ],
          customText: '',
          style: {
            background: "#FFFFFF",
            color: "#000000",
            textAlign: "left",
          },
          timer: {
            visible: false,
            startTime: null
          }
        }
      }
      if(counter) {
        counter.points = points;
      }
      if(!this.throttleUpdate)
        this.throttleUpdate = throttle(this.sendUpdate, 200)

      this.throttleUpdate()
    },
    sendUpdate(){
      var self = this

      points
      .doc(this.id)
      .set({ ... this.pointer  })
      .then(() => {
        self.bind(self.id)
      })
    },
    viewonly(){
      this.$router.push({query: { viewonly: true}})
    },
    makeid(length) {
        var result           = '';
        var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
          result += characters.charAt(Math.floor(Math.random() * 
      charactersLength));
        }
        return result;
      }
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.v-application p {
  margin-bottom: 0 !important;
}
</style>
